<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sonologic.spacestatus"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:icon="@drawable/hs_icon"
        android:label="@string/app_name" >
        <receiver android:name="SpaceStatusWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.sonologic.spacestatus.UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/spacestatus_appwidget_info" />
        </receiver>

        <activity
            android:label="@string/app_name"
            android:name="com.sonologic.spacestatus.SpaceStatus" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="com.sonologic.spacestatus.GETUPDATE" />
                <action android:name="com.sonologic.spacestatus.UPDATELIST" />
                <action android:name="com.sonologic.spacestatus.LISTUPDATE" />
                <action android:name="com.sonologic.spacestatus.SETFREQ" />
            </intent-filter>

            <service android:name=".spacestatus.GetStatusService" />
        </activity>

        <service
            android:label="@string/svc_name"
            android:name="com.sonologic.spacestatus.GetStatusService"
            android:permission="android.permission.INTERNET" >
        </service>

        <activity android:name=".WidgetConfiguration" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>